
<!DOCTYPE HTML>
<html>
	<head>
		<style type="text/css">

		</style>

		<title>Pagina index </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='miportafoliox/home_oficiales/css/main.css')}}" />
		
	</head>
	<body class="is-preload">
			<div id="wrapper">
					<div id="main">
						<div class="inner">
								<header id="header">
									<a href="{{url_for('comentario.miperfil')}}" class="logo"><strong> Pagina de informacion inicial </strong></a>
									
								</header>
								<section id="banner">
									<div class="content">
										<header>
											<h1 style="font-size:37px;">Nombre de la empresa</h1>
											<p style="font-size:20px;">  <strong>SCT-OFICIALES 2021-2022 </strong></p>
										</header>

										<p style="font-size:15px;">En <a href="/loginf">@ecom-sct</a> nuestros oficiales podrán llevar
										día a día un respaldo personalizado y seguro de su trabajo, controlar su horario y turnos ya laborados, con acceso las 24 horas del día desde cualquier dispositivo con conexion a internet.</p> </br></br></br>

										<ul class="actions">
											<li><a style="font-size:21px;" href="/loginf" class="button big">IR AL APPWEB</a></li>
										</ul>
										</br></br></br>
									</div>
									<span class="image object">
										<img src="{{url_for('static', filename='miportafoliox/home_oficiales/images/pic10.jpg')}}" alt="" />
									</span>
								</section>


						</div>
					</div>

				<!-- Sidebar -->



					<div id="sidebar">
						<div class="inner">

							<!-- Search  
							
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>
							-->

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/loginf">Iniciar sesión</a></li>



										<li><a href="#">Reportes</a></li>
										<li><a href="#">Permisos</a></li>
										<li><a href="#">Oficiales</a></li>
										<li><a href="#" >Vehículos ESPH</a></li>

										<li><a href="#">Mi Bitacora</a></li>

									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>¡¡Gracias por acompañarnos día con día!!</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="{{url_for('static', filename='miportafoliox/home_oficiales/images/pic06.jpg')}}" alt="" /></a>
											<p> <strong>Oficiales de seguridad.</strong></br>
												Los procesos de evaluación y certificación de nuestro personal de seguridad, monitoreo, logística y custodia nos permiten conocer a fondo a cada una de las personas en quienes recae la importante responsabilidad de la protección de su empresa.
											</p>

										</article></br>
										<article>
																			<a href="#" class="image"><img src="{{url_for('static', filename='miportafoliox/home_oficiales/images/pic06.jpg')}}" alt=""  /></a>
											<p> <strong>Monitoreo y seguridad de alarmas.</strong></br>
												Vigilancia Remota (monitoreo de cámaras), sólo son efectivos si existe reacción inmediata. Este servicio se activa preferible en horas y sectores en los que no debe haber ningun movimientos. En caso de detectarse algún intento de ingreso, nuestra Central se comunicará inmediatamente con el o los oficiales que están en el recinto. En caso de ser necesario, se pide también apoyo a fuerza publica.
											</p>

										</article>

									</div>

								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>comentarioos</h2>
									</header>
									<p> Encuentra todo lo que necesites en seguridad con nosotros. ecom-security</p>
									<ul class="comentario">
										<li class="icon solid fa-envelope"><a href="#">info@ecomycr.com</a></li>
										<li class="icon solid fa-phone">Teléfono: 506-2121-0000</li>
										<li class="icon solid fa-home">Dirección: Casa 7, Costa Rica.</li>
									</ul></br></br></br></br>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy;ecomycr Copyright 2021 </br><a href="https://google.com">TODOS LOS DERECHOS RESERVADOS:</a></p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='miportafoliox/home_oficiales/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='miportafoliox/home_oficiales/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='miportafoliox/home_oficiales/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='miportafoliox/home_oficiales/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='miportafoliox/home_oficiales/js/main.js')}}"></script>

	</body>
</html>
