<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Curriculum Vitae</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href=" {{url_for('static', filename='miportafoliox/cv/img/favicon.ico' )}}">
    <link rel="stylesheet" href=" {{url_for('static', filename='miportafoliox/cv/css/bootstrap.min.css' )}}">
    <link rel=" stylesheet " href="{{url_for('static', filename='miportafoliox/cv/css/owl.carousel.min.css' )}}">
    <link rel="stylesheet " href=" {{url_for('static', filename='miportafoliox/cv/css/slicknav.css' )}}">
    <link rel="stylesheet " href=" {{url_for('static', filename='miportafoliox/cv/css/flaticon.css' )}}">
    <link rel="stylesheet " href=" {{url_for('static', filename='miportafoliox/cv/css/animate.min.css' )}}">
    <link rel="stylesheet " href=" {{url_for('static', filename='miportafoliox/cv/css/magnific-popup.css' )}}">
    <link rel="stylesheet " href=" {{url_for('static', filename='miportafoliox/cv/css/themify-icons.css' )}}">
    <link rel="stylesheet " href=" {{url_for('static', filename='miportafoliox/cv/css/slick.css' )}}">
    <link rel="stylesheet " href=" {{url_for('static', filename='miportafoliox/cv/css/nice-select.css' )}}">
    <link rel="stylesheet " href=" {{url_for('static', filename='miportafoliox/cv/css/style.css' )}}">

</head>

<body>
    <header>
        <div class="header-area header-transparent ">
            <div class="main-header ">
                <div class="header-bottom header-sticky ">
                    <div class="container-fluid ">
                        <div class="row align-items-center ">
                            <div class="col-xl-2 col-lg-2 col-md-1 ">
                                <div class="logo ">
                                    <a href="/"><img src=" {{url_for('static', filename='miportafoliox/cv/img/logo/logo.png' )}}" alt=" "></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-8 ">
                                <div class="main-menu f-right d-none d-lg-block ">
                                    <nav>



                                        <ul id="navigation ">
                                            <li><a href="{{url_for( '.miperfil')}} ">@Home</a></li>
                                            <li><a href="/oficiales ">@Oficiales SCT</a></li>
                                            <li><a href="/sanagustin ">@Condominios SCT</a></li>
                                            <li class="login"><a href="/login"><i class="ti-user "></i>Users</a> </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="mobile_menu d-block d-lg-none ">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="slider-area hero-overly ">
            <div class="single-slider hero-overly slider-height d-flex align-items-center ">
                <div class="container ">
                    <div class="row justify-content-center ">
                        </br>
                        <div class="col-xl-8 col-lg-9 ">
                            <div>
                                <div class="hero__caption ">
                                    </br>
                                    <a href="https://wa.me/50686246195 " class="btn ">SOLICITAR Curriculum
                                        Vitae</a></br>
                                    </br>
                                </div>
                                </br>
                                </br>
                                </br>
                            </div>
                            </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popular-location section-padding30 ">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-12 ">
                        <div class="section-tittle text-center mb-80 ">
                            <span style="font-size: 2.7em ">MIS PROYECTOS</span>
                            <h5><strong>Aplicaciones Web</br>Aplicaciones Android KivyMD</br>Aplicaciones IOs React
                                    Native</br>Windows Desktop Apps</strong></h5>
                            <h5><strong>{Python Backend & PostgreSQL}</strong></h5>
                            </br>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                        <div class="single-location mb-30 ">
                            <div class="location-img ">
                                <img src=" {{url_for('static', filename='miportafoliox/cv/img/gallery/location1.png' )}}" alt=" ">
                            </div>
                            <div class="location-details ">
                                <p>CM-Condominios 2021</p>
                                <a href="/sanagustin " class="location-btn "> Vista previa </a>
                            </div>
                        </div>
                        </br>
                    </div>
                    </br>


                    </br>


                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                        <div class="single-location mb-30 ">
                            <div class="location-img ">
                                <img src=" {{url_for( 'static', filename='miportafoliox/cv/img/gallery/location3.png' )}}" alt=" ">
                            </div>


                            <div class="location-details ">
                                <p>CM-Oficiales 2021</p>
                                <a href="/oficiales " class="location-btn "> Vista </a>
                            </div>
                        </div>
                        </br>
                    </div>
                    </br>

                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                        <div class="single-location mb-30 ">
                            <div class="location-img ">
                                <img src=" {{url_for( 'static', filename='miportafoliox/cv/img/gallery/location6.png' )}}" alt=" ">
                            </div>
                            <div class="location-details ">
                                <p>Proyectos gratis</p>
                                <a href="https://github.com" class="location-btn "> ecomyCode </a>
                            </div>
                        </div>
                    </div>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                </div>
                </br>
            </div>
        </div>

        <div class="services-area pt-150 pb-150 section-bg " style="background: #030305;">
            <div class="container" >
                <div class="row ">
                    <div class="col-lg-12 ">

                        <div class="section-tittle section-tittle2 text-center mb-80" style="margin-top: 1cm;">

                            <span style="font-size: 2.5em ">Experiencia laboral </br> Costa Rica</span>
                            <hr />
                        </div>

                    </div>
                </div>
                </br>

                <div class="row ">

                    <div class="col-lg-12 ">
                        <div class="single-services text-center mb-50 ">
                            <div class="text-center services-cap ">

                                <h5><a href="# ">Supervisor de seguridad GAM</a></h5>
                                <h5><a href="# ">Respuesta armada</a></h5>
                                <h5><a href="# ">Escolta de contenedores</a></h5>
                                <h5><a href="# ">Desarrollador de aplicaciones administrativas</a></h5>
                                <h5><a href="# ">Encargado Técnico T.I</a></h5>
                                <h5><a href="# ">Departamento de becas en Academia ITN</a></h5>
                                <h5><a href="# ">Oficial de Monitoreo y Vigilancia</a></h5>
                                <h5><a href="# ">Seguridad Privada</a></h5>
                                <h5><a href="# ">Python Programming Language courses</a></h5>
                                <h5><a href="# ">Instructor computacional</a></h5>
                                <h5><a href="# ">Seguridad Industrial</a></h5>
                                <h5><a href="# ">Palma Aceitera & Ganadería</a></h5>

                                <h5><a href="# ">Otros...</a></h5>
                                </br>
                                </br>
                                </br>
                                </br>
                                <div class="services-icon ">
                                    <span class="flaticon-list "></span>
                                </div>
                                <div class="services-icon ">
                                    <span class="flaticon-respect "></span>
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </main>

    <footer>
        <div class="footer-area ">
            <div class="container ">
                <div class="footer-top footer-padding ">
                    <div class="row justify-content-between ">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 ">
                            <div class="single-footer-caption mb-50 ">
                                <div class="single-footer-caption mb-30 ">
                                    <div class="footer-logo ">
                                        <a href="/"><img src="{{url_for( 'static', filename='miportafoliox/cv/img/logo/logo2_footer.png' )}}" alt=" "></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 ">
                            <div class="single-footer-caption mb-50 ">
                                <div class="footer-tittle ">
                                    <h4>Aplicaciones 2021</h4>
                                    <ul>
                                        <li><a href="/oficiales ">@Oficiales</a></li>
                                        <li><a href="/sanagustin ">@Condominios</a></li>
                                        <li><a href="# ">@OTROS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 ">
                            <div class="single-footer-caption mb-50 ">
                                <div class="footer-tittle ">
                                    <h4>Descargar apps</h4>
                                    <ul>
                                        <li class="app-log ">
                                            <a href="https://play.google.com/store/apps"><img src=" {{url_for( 'static', filename='miportafoliox/cv/img/gallery/app-logo.png' )}}" alt=" "></a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom ">
                    <div class="row d-flex justify-content-between align-items-center ">
                        <div class="col-xl-9 col-lg-8 ">
                            <div class="footer-copy-right ">
                                <p>&copy;Costa Rica</p>
                                <p>Todos los derechos reservados.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="back-top ">
        <a title="Go to Top " href="/ "> <i class="fas fa-level-up-alt "></i></a>
    </div>


</body>

</html>