<!DOCTYPE HTML>

<html>
<head>
	<title>Inicio</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href=" {{url_for('static', filename='miportafoliox/miperfil/css/main.css')}} " />
</head>
<body class="is-preload">



	<nav id="nav">
		<ul class="container">
			<li><a href="/cv">Mi Perfil</a></li>
			<li><a href="https://www.facebook.com/ecomycr.ceo/">Facebook</a></li>
			<li><a href="https://github.com/ecomy-cr" >Github</a></li><li><a href="https://google.com" >Linkedin</a></li>
		</ul>
	</nav>

	<article id="top" class="wrapper style1">
		<div class="container">
			<div class="row">

				<div class="col-4 col-5-large col-12-medium">
					<span class="image fit"><img src=" {{url_for('static', filename='miportafoliox/miperfil/images/pic00.jpg')}} " alt="" /></span>
				</div>

				<div class="col-8 col-7-large col-12-medium">
					<header>
						<h1  style="font-size:2.8em; "  ><strong>Yeisson Araya</strong></h1>
						<h2 style="font-size:1.4em;" >Estudiante en Ingeniería Informática
						</h2>
					</header>

					<div class="container">
						<div class="aln-center">
							<p style="font-size: 1.15em"><strong>Hola, te presento mi portafolio web y C.Vitae. </br> En estos momentos trabajo como Técnico en Redes Informáticas, realizo proyectos universitarios en programación Backend, entre otros.</br></strong> </p>


							</br></br>
							


							<a href="/cv" class="button large scrolly">Hoja de vida</a>

						</div>
					</div></br>

					<div class="container">
						<h1>
							Mejores Proyectos
						</h1>


						<div class="aln-center">
							<a href="/oficiales" class="button alt">Oficiales de Seguridad</a>
							<a href="/sanagustin"  class="button  alt">Condominio San Agustín</a>



							
							<a href="http://Github.com/ecomy-cr" class="button  alt">Código de uso libre</a>
							<a href="/comentario" class="button  alt">Dejar comentario</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>


	<article id="comentario" class="wrapper style4">
		<div class="container medium">
			<h1>
				Sobre mí - 2022
			</h1>
			<br>
			<header>
				<p  >Hola, soy estudiante de Ingeniería en Sistemas en busca de una posición como desarrollador backend, cuento con experiencia en lenguajes de programación como Python y JavaScript, tambien con experiencia en redes Informáticas y seguridad civil</br>
				Cuento con capacidades para trabajar bajo presión, y liderar grupos grandes de personas, facilidad de habla y resolver problemas al instante.</p>
			</header>
		</div>
	</article>


	<article id="portfolio" class="wrapper style3">
		<div class="container" >
			<div class="row">
					<article class="box style2">
						<h2><a href="#"><strong>Este portafolio se llevó a cabo sin fines lucrativos</a></h2>  <br>
							<p>Creado únicamente para enseñar y practicar la programacion, utilizando tecnologías como: HTML, CSS, BOOTSTRAP, Javascript, base de datos (MySql, MongoDB, Postgresql, y NoSQL), Python y sus framework: Django, Flask, Kivy, KivyMD,  entre otros</br>
								Para este portafolio he reutilizado código de cursos, blogs y tutoriales. <br> Base de Datos no relacional SQLITE3</br>
								Proyecto#1 portafolio v.1</strong>
							</p>

					</article>
			</div>
		</div>
	</article>


		<article id="comentario" class="wrapper style4">
			<div class="container medium">
				<header>
					<h2>@2021-2022</h2>
				</header>
				<footer>
					<ul id="copyright">
						<li>&copy;ecomycr</li><li><a href="/"> Todos los derechos reservados </br>(Python) </a></li>
					</ul>
				</footer>
			</div>
		</article>
<!-- Scroll Up -->
<div >
    <a  style = "background:#eb566c;height:50px;width:50px;right:31px;bottom:18px;position:fixed;color:#fff;font-size:20px;text-align:center;border-radius:50%;line-height:48px;border:2px solid transparent;box-shadow:0 0 10px 3px rgba(108,98,98,0.2)"   title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

		<script src=" {{url_for('static', filename='miportafoliox/miperfil/js/jquery.min.js')}} "></script>
		<script src=" {{url_for('static', filename='miportafoliox/miperfil/js/jquery.scrolly.min.js')}} "></script>
		<script src=" {{url_for('static', filename='miportafoliox/miperfil/js/browser.min.js')}} "></script>
		<script src=" {{url_for('static', filename='miportafoliox/miperfil/js/breakpoints.min.js')}} "></script>
		<script src=" {{url_for('static', filename='miportafoliox/miperfil/js/util.js')}} "></script>
		<script src=" {{url_for('static', filename='miportafoliox/miperfil/js/main.js')}} "></script>



	</body>
	</html>